.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.h1, .h2, .h3, .h4, .h5 {
  font-family: 'Source Serif Pro';
  color: var(--black);
  font-weight: bold;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: var(--grey-200);
  border: none;
  margin: 0;
}
