.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
  gap: 96px;
  min-height: calc(100vh - 128px);
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-width: 360px;
}
.diagram {
  height: 100%;
  max-width: 56%;
  min-width: 0;
}
.diagramMobile {
  display: none;
  max-height: 80vh;
}

.title {
  margin-bottom: 8px;
}
.subtitle {
  margin-bottom: 8px;
  font-size: 1rem;
}

.buttonContainer {
  max-width: 360px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

@media (max-width: 1024px) {
  .container {
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    padding-top: 24px;
    width: 100%;
  }

  .diagramMobile {
    display: block;
    width: 100%;
    margin: 0 auto 48px;
  }
  .diagram {
    display: none;
  }

  .buttonContainer {
    max-width: unset;
    flex-direction: column;
  }
}