.container {
  width: 100%;
  padding: 24px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.contentContainer {
  width: 100%;
}

.title {
  font-size: var(--font-size-p);
  font-weight: 600;
  padding-bottom: 4px;
}

.subtitle{
  font-size: var(--font-size-p);
  color: var(--grey-600);
}
